/* BASE STYLES */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.blue { background-color: #2D85C4; }
.red { background-color: #FF642F; }
.orange { background-color: #F89344; }
.white { background-color: #FFFFFF; }

body {
margin: 0;
padding: 0;
  color: skyblue;
  background-color: lightgreen;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
/* color code-blak#292929, #171717*/
.container {
  background-color: #cccccc;
  border: 4px dashed #FFFFFF;
  width: 100vw;
  height: 80vh;
padding:6px;
  display:flex;
/*   flex-direction:column; would change to vertical */ 
  gap:12px;
  justify-content:space-between;
/*   align-items:center; */

}


.item {
border-radius: 30px;
text-align: center;
padding: 0;
margin: 0;
  padding: 40px;
width:50px;
height: 110px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
}
a{
text-decoration: none;}

/* FLEXBOX PLAYGROUND PLAY AROUND HERE*/


/* FLEX ITEM PLAYGROUND PLAY AROUND HERE*/

.blue {
padding: 3px;
margin: 0px;
flex: 1; 
 /* min-width: 50px;
  align-self:end;*/
}

.red {
padding: 3px;
margin: 0px;
flex: 1; 
/*height: 110px;*/
}

.orange{
padding: 3px;
margin: 0px;
flex: 1; 
}

.blue img{
width: 75px;
height: 100px;
border: 3px solid #ddd;
border-radius: 20px;
}

.red img{
width: 75px;
height: 100px;
border: 3px solid #ddd;
border-radius: 20px;
}

.orange img{
width: 100px;
height: 100px;
border: 3px solid #ddd;
border-radius: 30px;
}