body {
  background-image: url('background.jpg');
  background-size: cover;
  background-attachment: fixed;}

.menu{width: 100%;
padding: 10px;
margin: 10px auto;
font-size: 55;
color: green;}

b{
font-size: 25;
color: black;}

h{
font-size: 100;
align-type: center;
background-color: green;
color: pink;}
