*{margin:0;}

body {margin:auto;width: 1000px;
  background: lightblue;
  background-image: url('background.jpg');
  background-size: cover;
  background-attachment: fixed;}

marquee{color: green; margin-top: 25px;}
.header img{width: 1000px; height: 100px;padding:0px;margin-left: 10px;position: fixed;}
.header a{padding:0px;}

 .slide img{width: 100%; height:100px;margin-left: 10px;padding-top: 25px;}


.main_menu{margin:auto;padding: 10px;width:1000px;overflow: hidden;}
.menu{margin:30px 9px;padding: 10px 0px;width:1000px; text-align: center;border: 1px solid #ddd;}

.leftmenu{width: 45%; border: 1px solid #ddd; float: left;
padding: 10px;
margin: 10px auto;
color: green;}

.rightmenu{width: 45%; border: 1px solid #ddd; float: right;
padding: 10px;
margin: 10px auto;
color: green;}

.leftmenu h1{text-align: center;overflow: hidden;}

.rightmenu h1{text-align: center;overflow: hidden;}

a{font-size: 22px;}
a{display:block;padding:8px;text-decoration:none;font-weight:500;}
a:hover{background:lightblue; color: green;}

#footer{}
.footer_blocks{width: 1000px;margin:30px 30px;overflow:hidden;}
.fblock{background:skyblue;width:300px;float:left; text-align:center;border: 2px solid #ddd;margin-left: 13px;padding: 15px 0px;}

.copyright{width:1000px;background:skyblue;text-align: center; padding: 15px 0px;border: 2px solid #ddd;
font-size: 25;
color: blue;margin:0px 9px;}

