*{margin:0;}

body {margin:auto;width: 1000px;
  background-image: url('background.jpg');
  background-size: cover;
  background-attachment: fixed;}


.header img{width: 100%; height: 100px;margin-left: 10px;}
.header a{padding:0;}

 .slide img{width: 100%; height:100px;margin-left: 10px;}


.main_menu{margin:auto;padding: 10px;width:100%;overflow: hidden;}
.menu{margin:auto;padding: 15px;width:100%; text-align: center;border: 3px solid #ddd;}
.leftmenu{width: 45%; border: 1px solid #ddd; float: left;
padding: 10px;
margin: 10px auto;
color: green;}

.rightmenu{width: 45%; border: 1px solid #ddd; float: right;
padding: 10px;
margin: 10px auto;
color: green;}

.leftmenu h1{text-align: center;overflow: hidden;}

.rightmenu h1{text-align: center;overflow: hidden;}

a{font-size: 22px;}
a{display:block;padding:8px;text-decoration:none;font-weight:500;}
a:hover{background:lightblue; color: green;}

#footer{width: 100%;}
.footer_blocks{padding:20px 20px;overflow:hidden;}
.fblock{background:lightblue;width:270px;float:left;padding-right:10px;margin: 10px; text-align:center;border: 2px solid #ddd;margin-left: 10px;}

.copyright{background:skyblue;text-align: center; padding: 15px;border: 2px solid #ddd;
font-size: 25;
color: blue;margin-left: 10px;}

